:root {
  --black: #000807;
  --grey: #a2a3bb;
  --aqua: #3bf4fb;
  --white: #fbf9ff;
  --orange: #c20114;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  margin: auto;
  margin-top: 35%;
  width: 100%;
  border-top: 1px solid var(--grey);
  background-color: rgb(59, 244, 251, 0.2);
}

.footer p {
  text-align: center;
  font-size: 0.8rem;
}

.icons {
  font-size: 1.2rem;
  text-align: center;
}
.mid-icon {
  margin-left: 10px;
  margin-right: 10px;
}
