/* colors */
/* #000807 black*/
/* #A2A3BB cool grey*/
/* #3BF4FB aqua */
/* #C20114 engineering orange */
/* #FBF9FF ghost white */

:root {
  --black: #000807;
  --grey: #a2a3bb;
  --aqua: #3bf4fb;
  --white: #fbf9ff;
  --orange: #c20114;
}
