:root {
  --black: #000807;
  --grey: #a2a3bb;
  --aqua: #3bf4fb;
  --white: #fbf9ff;
  --orange: #c20114;
}

.header {
  display: flex;
  border-bottom: 1px solid var(--grey);
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(59, 244, 251, 0.2);
}
.logo p {
  color: var(--orange);
}
@media (max-width: 500px) {
  body {
    font-size: 0.7rem;
  }
}
.header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.header ul li {
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

.header ul li a {
  text-decoration: none;
  color: var(--black);
}

.header ul li a:hover {
  color: var(--orange);
}

.logo {
  font-size: 1.8 rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}
.logo a {
  color: var(--orange);
  text-decoration: none;
  padding: 1px;
}

@media (max-width: 350px) {
  .logo p {
    font-size: 0.7rem;
  }
  .header ul li {
    font-size: .9rem;
  }
}
