.form {
  border: 1px solid var(--grey);
  border-radius: 1px;
  background-color: rgb(59, 244, 251, 0.2);
  height: 65vh;
  margin-top: 15vh;
  margin-left: 20%;
  margin-right: 20%;
}
.heading {
  text-align: center;
}
.form-items {
  text-align: center;
}
.form-items input {
  width: 85%;
  margin-top: 3vh;
  height: 3.5vh;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
.redirect-btn {
  background: none;
  border: none;
  color: var(--orange);
  width: 100%;
  margin-top: 10px;
}
.redirect-btn:hover {
  color: var(--black);
}
.btn-block {
  margin-top: 5%;
  width: 65%;
  font-size: 1.6rem;
  background-color: var(--white);
  border: 1px solid var(--black);
}
.btn-block:hover {
  color: var(--white);
  background-color: var(--orange);
}
/* login form */
.login-form {
  height: 39.5vh;
}

@media (max-width: 600px) {
  .btn-block {
    margin-top: 15%;
    width: 75%;
    font-size: 1.4rem;
  }
  .form-items input {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .form-items input {
    font-size: 0.7rem;
  }
  .form {
    margin-left: 10%;
    margin-right: 10%;
  }
  
}
