.pokemon-header h2 {
  margin-top: 8.5%;
  
}
.input {
  margin-top: 5%;
  padding-top: 30px;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.pokemon-input {
  border-radius: 10px;
  width: 30%;
  margin: auto;
  height: 30px;
  font-size: 20px;
  
  
}
.btn-div {
  margin-top: -0.5%;
  padding-top: 30px;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.input-btn {
  width: 20%;
  border-radius: 10px;
}
.input-btn:hover {
  width: 20%;
  border-radius: 10px;
  background-color: var(--orange);
  color: white;
}
.pokemon-img {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.pokemon-img img {
  width: 150px;
  height: 150px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: var(--orange);
}
.result-container p {
  font-weight: 200;
  color: black;
}
.result-container span {
  font-weight: 900;
  color: var(--orange);
}
